{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
	<table id="id_list_table" class="table">
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
{% endblock %}

{% block extra_content %}
	<form method="POST" action="{% url 'share_list' list.id %}">
		<h4>Share this list:</h4>
		<input type="text" name="sharee" class="form-control" placeholder="your-friend@example.com">
		{% csrf_token %}
	</form>
	<br>
	<h4>List shared with:</h4>
	<ul>
		<li id="id_list_owner" style="font-style: italic;">{{ list.owner.email }} (owner)</li>
		{% for user in list.shared_with.all %}
			<li class="list-sharee">{{ user.email }}</li>
		{% endfor %}
	</ul>
{% endblock %}
